<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bradzzz.dotdashdot.mytv_stream" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".myTVPanelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.ActivityHome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TvShowsActivity"
            android:label="@string/show_list_title"/>
        <activity
            android:name=".activity.ActivityTabs2"
            android:label="@string/show_tabs2_title"/>
        <activity
            android:name=".activity.ActivityTabs"
            android:label="@string/show_tabs_title"/>
    </application>

</manifest>
